.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80px;
  padding: 0 7%;
  box-shadow: 1px 2px 2px 1px #d3d3d3;
  position: relative;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #242424;
    font-size: 30px;
    font-weight: 600;
  }  
}

@media all and (max-width: 500px) {
  .navbar a {
    font-size: 26px;
  }
}
