.countries-grid {
  padding: 50px 7%;
}

.filter-region {
  .select-region {
    border: none;
    outline: none;
    box-shadow: 1px 2px 2px 1px #d3d3d3;
    height: 40px;
    margin: 0 0 50px;
    width: 135px;
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
    color: #757575;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.loader-text {
  font-size: 85px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;

  a {
    text-decoration: none;
    color: #242424;

    .country-card {
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 1px 2px 2px 1px #d3d3d3;
      margin: auto;
      width: 100%;
      max-width: 300px;

      .image {
        max-height: 150px;
        box-shadow: 1px 2px 2px 1px #d3d3d3;

        img {
          width: 100%;
          height: auto;
          height: 150px;
        }
      }

      .content {
        padding: 5px 30px 15px;
        max-height: 150px;

        h2 {
          font-size: 18px;
          margin: 15px 0;
        }

        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .country-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 786px) {
  .country-grid {
    grid-template-columns: 1fr 1fr;
  }
  .flex {
    display: block;
  }
}

@media all and (max-width: 500px) {
  .country-grid {
    grid-template-columns: 1fr;
  }
}
