:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #242424;
  background-color: #f2f2f2de;
}

.dark-mode {
  background-color: #242424;

  .navbar {
    background-color: #242424;
    color: white;

    a {
      color: white;
    }

    button {
      background-color: #242424;
      color: white;
    }
  }

  input {
    background-color: #242424;
  }

  .select-region {
    background-color: #242424;
  }

  .country-grid {
    .content {
      background-color: #242424;
      color: white;
    }
  }
}

input,
select {
  cursor: pointer;
}
