.country-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.country-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 2px 2px 1px #d3d3d3;

    .image {
        max-height: 150px;

        img {
            width: 100%;
            height: auto;
            height: 150px;
        }
    }

    .content {
        padding: 5px 30px 15px;
        max-height: 150px;

        h2 {
            font-size: 18px;
            margin: 15px 0;
        }

        p {
            font-size: 12px;
            margin: 0;
        }
    }
}

@media all and (max-width: 1200px) {
    .country-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width: 786px) {
    .country-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 500px) {
    .country-grid {
        grid-template-columns: 1fr;
    }
}